
<h2>Adicionar Produto</h2>

<form method="post">

    <div>
        <label for="txtNome">Nome:</label>
        <input type="text" name="Nome" id="txtNome" autofocus />
    </div>

    <div>
        <label for="txtPreco">Preço:</label>
        <input type="text" name="Preco" id="txtPreco" autofocus />
    </div>

    <div>
        <label for="txtTipo">Tipo:</label>
        <input type="text" name="Tipo" id="txtTipo" autofocus />
    </div>

    <div>
        <label for="txtQtde">Quantidade:</label>
        <input type="number" name="Qtde" id="txtQtde" autofocus />
    </div>

    <div>
        <input type="submit" value="Salvar">
        <button type="submit">Salvar</button>
        <button>Salvar</button>
    </div>

</form>
